<!DOCTYPE html>
<html>
    <head>
        <title> AstroChecker </title>
        <link rel="stylesheet" href="../static/stylesheets/grammarstyle.css">
    </head>
    <body>
        <div class="astronautGuy">
            <img width="400px" height="400px" src="../static/photos/astronaut2.png" alt="Picture of Astronaut">
        </div>
        <div class="grammarBox">
            <button id="grammarButton"> Send to Grammar Layer</button>
        </div>
        <div>
            <p class="name"> AstroChecker. </p>
        </div>
        <div class="logoBox">
                <h1 class="poweredBy">Powered by</h1>
                <img src="../static/photos/assembly_logo2.png" alt="Picture of Assembly AI Logo" class="assemblyLogo">
        </div>
            
        <div class="assemblyText">
            <p><em>Here's what Assembly Heard:</em> {{assembly_out}}</p>
        </div>
        
        <div class="resultBox">
            <p id="statusText" padding-top="2%"><em>Status:</em>{{status}}</p>
            <p id="statusText"><em>Improvement: </em>{{start}}
            <span style="color: #251d82"><u>{{changed}}</u></span> 
            {{end}}
            </p>
        </div>
    </body>
</html> 