<html>
    <head>
        <title> AstroChecker </title>
        <link rel="stylesheet" href=../static/stylesheets/indexstyle.css>
    </head>
    <body> 
        <div>
            <h1 id="poweredBy">Powered by</h1>
            <img id="astronautGuy" src="../static/photos/astronaut.png" alt="Picture of Astronaut Guy">
        </div>
        <div>
            <img src=../static/photos/assembly_logo.png alt="Picture of Assembly AI Logo">
        </div>
        <div class="box">
            <h3 class="name">AstroChecker</h3>
            <div class="fileUpload" style="text-align-last: center">
                    <br><br><br><br style="line-height: 16px" />

                    <h>Uploaded File: {{file_name}} <br><br style="line-height: 20px" /> </h>
                    <audio controls> <source src={{file_path}} type="audio/mpeg"> </audio> <br>
                    <br style="line-height: 20px" />
                    
                    <form action="/processing" method="POST">
                    <input type="submit" value="Send to Assembly AI API"> <br>
            </div>
            </p>
        </div>
    </body>
</html>
